
<p-card class = "card" [style]="{ width: '1200px', height:'800px',  margin: 'auto'}">
  <p-header style="font-size:300%;"> Customize Your Own Pizza via Drag & Drop!</p-header>
<p>
  Please choose your ingredients. Every pizza automatically includes tomato
  sauce and cheese!
</p>

<div class="card">
  <p-pickList
    [source]="ingredients"
    [target]="selectedIngredients"
    sourceHeader="ingredients"
    targetHeader="Selected"
    [dragdrop]="true"
    [responsive]="true"

    breakpoint="1400px"
  >
    <ng-template let-product pTemplate="item">
      <div class="flex flex-wrap p-2 align-items-center gap-3">
        <img
          [src]="'assets/ingredients/' + product.name + '.png'"
          [alt]="product.name"
          width="100"
          class="shadow-4"
        />
        <div class="flex-1 flex flex-column gap-2">
          <span class="font-bold">{{ product.name }}</span>
          <div class="flex align-items-center gap-2">
            <span>{{ product.category }}</span>
          </div>
        </div>
        <span class="font-bold text-900">{{ "$" + product.price }}</span>
      </div>
    </ng-template>
  </p-pickList>
</div>
</p-card>
