:host {
  display: block;
}

body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  background-color: #f0f0f0;
}

/* navbar.component.css */
.navbar {
  background-image: url('src/assets/headerImages/navbarImage.png');
  background-size: cover;
  background-position: center;
  height: 400px;
  display: flex;
  justify-content: space-between;
  align-items: flex-start; /* Ausrichtung am oberen Rand der Seite */
  padding: 20px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.navbar-rechts {
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: right; /* Diese Zeile korrigieren: sollte "flex-end" sein */
  margin-left: auto; /* Elemente nach rechts schieben */
}

.navbar-link {
  color: #fff;
  text-decoration: none;
  font-weight: bold;
  font-size: 16px;
}

