
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Navbar with Background Image</title>
  <link rel="stylesheet" href="navbar.component.css">
</head>
<body>

<div class="navbar">
  <img class="navbar-logo">
  <div class="navbar-links">
    <a href="#" class="navbar-link">Home</a>
    <a href="#" class="navbar-link">About</a>
    <a href="#" class="navbar-link">Contact</a>
  </div>
</div>


</body>
</html>

<div style="display: flex; justify-content: space-between; align-items: center;">
  <p-tabMenu [model]="items" [activeItem]="activeItem" (activeItemChange)="onActiveItemChange($event)"></p-tabMenu>
  <button type="button" pButton pRipple label="Activate Last" (click)="AddToCart()" class="mb-3"></button>
</div>


<!-- <div class="card">
    <p-menubar [model]="items"></p-menubar>
</div>
 -->
