:host {
  display: block;
}

.horizontal-container {
  display: flex;
  margin: 20px;
  align-items: center; /* Oder eine andere Methode zum Ausrichten je nach Bedarf */
}

.CredentialsContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.card{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url('src/assets/images/landingBackround.png'); /* Passe den Pfad entsprechend an */
  background-size: cover;
  background-position: center;
  z-index: -1; /* Hinter die anderen Inhalte setzen */
}