<p-card
  header="Register"
  class="card"
  [style]="{ width: '800px', height: '950px', margin: 'auto' }"
>

<div class = "CredentialsContainer">
    <div class="horizontal-container">
        <span class="p-float-label">
            <input pInputText id="username" [(ngModel)]="username"/>
            <label for="username">Username</label>
        </span>
        <span class="p-float-label" style="margin: 20px;">
            <input pInputText id="password" [(ngModel)]="password"/>
            <label for="password">Password</label>
        </span>
    </div>

<div class="horizontal-container">
    <span class="p-float-label">
        <input pInputText id="firstName" [(ngModel)]="firstName"/>
        <label for="firstName">First Name</label>
    </span>
    <span class="p-float-label" style="margin: 20px;">
        <input pInputText id="lastName" [(ngModel)]="lastName"/>
        <label for="lastName">Last Name</label>
    </span>
</div>


<div class="horizontal-container">
    <span class="p-float-label">
        <input pInputText id="streetname" [(ngModel)]="streetname"/>
        <label for="streetname">Streetname</label>
    </span>
    <span class="p-float-label" style="margin: 20px;">
        <input pInputText id="housenumber" [(ngModel)]="housenumber"/>
        <label for="housenumber">Housenumber</label>
    </span>
</div>

<div class="horizontal-container">
    <span class="p-float-label">
        <input pInputText id="postalCode" [(ngModel)]="postalCode"/>
        <label for="postalCode">Postal Code</label>
    </span>
    <span class="p-float-label" style="margin: 20px;">
        <input pInputText id="cityname" [(ngModel)]="cityname"/>
        <label for="cityname">City</label>
    </span>
</div>

<div></div>
</div>
