<div class="confirmation-text">
    <h1>Your Order will be delivered soon</h1>
</div>

<div class="user-details">
    <p><strong>{{user.firstName}} {{user.lastName}}</strong> </p>
    <p><strong> {{user.streetName}} {{user.houseNumber}}</strong></p>
    <p><strong>{{user.postalCode}} {{user.city}}</strong> </p>
</div>


<p-table
[value]="orders"
dataKey="id"
[tableStyle]="{ 'min-width': '50rem' }"
>
<ng-template pTemplate="header">
  <tr>
    <th>Base</th>
    <th>Ingredients</th>
    <th>Price</th>
    <th>Special Wishes</th>
  </tr>
</ng-template>
<ng-template pTemplate="body" let-order>
  <tr [pSelectableRow]="order"></tr>
  <tr>
    <td>
      <ul>
        <li *ngFor="let base of order.base">
          {{ base.name }}
        </li>
      </ul>
    </td>
    <td>
      <ul>
        <li *ngFor="let ingredient of order.ingredients">
          {{ ingredient.name }}
        </li>
      </ul>
    </td>
    <td>{{ order.price }}</td>
    <td>{{ order.specialWish }}</td>
  </tr>
</ng-template>
<ng-template pTemplate="footer">
  <tr>
    <label>Total Price: {{this.totalPrice}}</label>
  </tr>
</ng-template>
</p-table>